:host {
    margin: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #f90;
}

h3 {
    color: #f90;
}

.wrapper {
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
}

.top {
    height: 30px;
    border-color: red;
}

.middle {
    flex: 1;
    overflow: auto;
    border-color: green;
}

.bottom {
    height: 30px;
    border-color: blue;
}